$top-height: 9rem;
$logotop-size: 130%;
$logobot-size: 90%;
$menu-font-size: 90%;

.top {
    padding-top: 1rem;
    height: $top-height;
    margin-bottom: 1rem;
}

.homepage-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    background-color: $anderson-purple;
}

.logotop {
    color: $anderson-purple;
    font-size: $logotop-size;
    font-weight: 900;
    line-height: 150%;
}

.logobot {
    color: $anderson-body-text-grey;
    font-weight: 100;
    font-size: $logobot-size;
}

.menucont {
    border-left: thin solid $anderson-dividing-line-grey;
    height: 5em;
}

.menu {
    padding-top: 1.5rem;
}

.menu > li > a {
    color: $anderson-body-text-grey;
    font-size: $menu-font-size;
}
