.pyi {
    font-size: 140%;
    text-align: center;
    font-weight: 700;
}

.about-text {
    font-size: 80%;
    text-align: center;
    font-weight: 100;
}


.cprol {
    height: 4rem;
    width: 4rem;
}

.icon-caption {
    text-align: center;
    font-size: 75%;
    font-weight: 900;
}

.icon-script {
    text-align: center;
    color: $anderson-body-text-grey;
    font-weight: 100;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.register-button {
    @include button(false, $anderson-orange, $anderson-orange, white, solid);
    width: 7rem;
}

