// Fonts



$body-font-family: "Open Sans", Hevvetica, Roboto, Arias, sans-serif;


.logotop {
    font-size: 150%;
    font-weight: 900;
}

.logobot {
    font-weight: lighter;
    font-size: 100%
}

.vbar {
    border-right: thin;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
